* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
  justify-content: center;

}

.sobre-mi {
  background-color: rgb(119, 118, 118);
  display: flex;

}

.sobre-mi img {
  width: 100%;
}




.informacion {
  margin: 10%;

}

.informacion h3 {
  color: rgb(230, 223, 223)
}

.informacion p {
  margin-top: 5%;
  color: rgb(0, 0, 0);

}