* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
  justify-content: center;

}

.about-me {
  padding-top: 55px;
  background-color: rgb(119, 118, 118);
  display: flex;

}

.about-me img {
  width: 100%;
}




.informacion {
  margin: 10%;

}

.informacion h3 {
  color: rgb(230, 223, 223)
}

.informacion p {
  margin-top: 5%;
  color: rgb(0, 0, 0);

}


.skills-section {
  background-color: rgb(119, 118, 118);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.skill {
  max-width: 200px;
}

.skill img {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}

.skill h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.skill p {
  font-size: 15px;
  color: #f5f3f3;
}